*{
    margin: 0;
    padding: 0;
}

form{
    width: 500px;
    margin: 0 auto;
    position: relative;
}
form label{
    display: block;
    margin-top: 10px;
}
form input{
    position: absolute;
    left: 40%;
}
form p{
    margin-top: 10px;
}
form p, form label{
    font-size: 16pt;
}
textarea {
    width: 500px;
    height: 150px;
    overflow-y: auto;
}

form #button{
    width: 70px;
    margin-top: 10px;
}
